mixin video(video)
    a(href=`/videos/${video._id}`).video-mixin
        .video-area
            // 썸네일 영역
            .video-mixin__thumb(style=`background-image: url('${video.thumbnail}'); background-size: cover; background-position: center;`)
                span.video-mixin__title=video.title
            .video-mixin__data
                .video-mixin__meta
                    span Created by 
                        em #{video.owner.username}
                    span #{video.meta.views} views
