mixin video(video)
    a(href=`/videos/${video._id}`).video-mixin
        .video-area.watch-area
            // 썸네일 영역
            .video-mixin__thumb.video-watch__thumb
                img.video-mixin__img(src=`/uploads/videos/${video.thumbUrl.slice(15)}`)
                span.video-mixin__title=video.title
            .video-mixin__data
                .video-mixin__meta
                    span Created by 
                        em #{video.owner.username}
                    span #{video.meta.views} views