extends base

block content
    div(style="margin-top:20px; display: flex; justify-content: center; align-items: center;")
        .video_column
            div#videoContainer(data-id=video._id)
                video#watch_video(src=`/${video.fileUrl}`)
                div#videoControls.videoControls
                    div.videoControls__play
                        span#play.videoControls__playBtn
                            i.fas.fa-play
                        div.videoControls__time
                            span#currenTime 00:00
                            span  / 
                            span#totalTime 00:00
                    input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
                    div.videoControls__volume
                        input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                        span#mute
                            i.fas.fa-volume-up
                    div
                        span#fullScreen
                            i.fas.fa-expand
            div.video__details-container
                div.video__data
                    div(style="margin-bottom:1.5rem; position:relative;")
                        span.video__title=video.title 
                        span(style="color:black; position:absolute; right:15px; bottom:5px;")=video.hashtags
                    small.video__owner Uploaded by 
                        a(href=`/users/${video.owner._id}`, style="margin-right:1rem;")=video.owner.username
                    small.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
                    small(style="margin-left:1rem;  color: #666; font-size: 0.9rem;") #{video.meta.views} views
                    p(style="margin-top:2rem; color:#666; font-size: 0.9rem;") #Description
                    p(style="margin:0.3rem 0 0 0.7rem; color:#000; font-size: 0.85rem;")=video.description
                if String(video.owner._id) === String(loggedInUser._id)
                    div(style=" background-color:#999; width:30%;padding:0.6rem; border-radius:8px;")
                        a(href=`${video.id}/edit`, style="color:black; margin-right:15px;") Edit Video&rarr;

                        a(href=`${video.id}/delete` style="color:red;") Delete Video&rarr;
                div.video__comments
                    ul
                        li 
                        if loggedIn
                            div.video__add-comments
                                form.video__comment-form#commentForm
                                    textarea(name="text" cols="30" rows="10" placeholder="Write a nice comment..." required)
                                    button Add Comment
                        else
                            a(href="/login")
                                div.video__add-comments
                                    form.video__comment-form#commentForm
                                        textarea(name="text" cols="30" rows="10" placeholder="Write a nice comment..." required)
                                        button Add Comment
                        li#prependText
                        each comment in video.comments.reverse()
                            li.video__comment(data-id=comment.id)
                                .comment_container
                                    .comment_userbox
                                        i.fas.fa-comment
                                        span.comment_username=comment.owner.username
                                    p.comment_textbox > #{comment.text}
                            if loggedIn
                                if comment.owner._id.toString() === loggedInUser._id.toString()
                                    span.delete__icon ❌
block scripts
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js") 